@import "var";

.wrappers {
  height: 110%;
  background: linear-gradient(
    121.73deg,
    #8c7fdb 11.91%,
    rgba(239, 116, 116, 0) 68.51%
  );
  background-size: cover;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 7.5rem;
}
.logo {
  width: 150px;
  height: 150px;
}
.menu {
  list-style-type: none;
  display: flex;

  li {
    margin-left: 5em;
  }
  span {
    color: #00b4db;
  }
  span:hover {
    color: #0083b0;
    transition: color 0.3s ease;
  }
  a {
    text-decoration: none;
    font-family: myFont;
    font-size: 22px;
    color: #ad5389;
  }
  a:hover {
    color: #ff0080;
    transition: all 0.3s ease;
  }
}
//section
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 400px 400px;
}
.content-about {
  padding: 5%;
  margin-top: auto;
  h5 {
    color: white;
    font-size: 3rem;
    margin-bottom: 0.625rem;
  }
  p {
    color: white;
  }
}
.background-img {
  background: url("/img/page-3/-wzNB4Fsoa0.svg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  &:hover {
    transform: translateY(10px);
    transition: transform 0.3s;
  }
}
@media (max-width: 920px) {
  .menu {
    display: none;
  }
  .container {
    padding: 0 10%;
  }
}
